out/
.idea/
.gradle/
build/

frontend/build/
frontend/node_modules/
frontend/public/block/
frontend/public/item/
frontend/src/assets/index.json

plugin/.gradle/
plugin/build*/

mod/.gradle/
mod/build*/
mod/run/
